@import 'tailwindcss';
@import 'uniwind';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));
@custom-variant purple-dark (&:where(.purple-dark, .purple-dark *));
@custom-variant purple-light (&:where(.purple-light, .purple-light *));
@custom-variant blue-dark (&:where(.blue-dark, .blue-dark *));
@custom-variant blue-light (&:where(.blue-light, .blue-light *));
@custom-variant orange-dark (&:where(.orange-dark, .orange-dark *));
@custom-variant orange-light (&:where(.orange-light, .orange-light *));
@custom-variant yellow-dark (&:where(.yellow-dark, .yellow-dark *));
@custom-variant yellow-light (&:where(.yellow-light, .yellow-light *));
@custom-variant compact (@media (width <= 375px));

@layer base, theme, components, utilities;

@layer theme {
	:root {
		/* dark theme */
		@variant dark {
			--color-content-primary: #0c8c7d;
			--color-content-secondary: rgba(52, 44, 216, 0.03);
			--color-content-tertiary: rgba(119, 13, 101, 0.72);
			--color-content-inverse: #d670e5;
			--color-content-negative: #0351d8;
			--color-content-positive: #4f6eac;
			--color-content-warning: rgba(194, 49, 183, 0.85);
			--color-content-neutral: #16eb3f;
			--color-background-primary: #c12896;
			--color-background-secondary: #b96223;
			--color-background-tertiary: rgba(116, 148, 40, 0.86);
			--color-background-inverse: #c28ee8;
			--color-background-negative: #ba53bd;
			--color-background-positive: #882457;
			--color-background-warning: #7d53ec;
			--color-background-neutral: #70a61c;
			--color-border-primary: rgba(16, 161, 205, 0.27);
			--color-border-secondary: rgba(161, 108, 255, 0.4);
			--color-border-tertiary: #ea4987;
			--color-border-inverse: rgba(134, 219, 204, 0.36);
			--color-border-negative: #46fc2e;
			--color-border-positive: #384e51;
			--color-border-warning: #d820c5;
			--color-border-neutral: #ef8005;
			--color-action-primary: #3a88ae;
			--color-action-secondary: rgba(222, 80, 232, 0.0);
			--color-action-tertiary: #865b36;
			--color-action-inverse: #98654e;
			--color-action-negative: #5200a5;
			--color-action-positive: #39b99d;
			--color-action-warning: rgba(123, 40, 43, 0.73);
			--color-action-neutral: #4041f3;
			--color-page-primary: #5487d8;
			--color-page-secondary: #669fcc;
			--color-page-tertiary: #bfe0e7;
			--color-page-inverse: rgba(115, 32, 173, 0.02);
			--color-page-negative: #700324;
			--color-page-positive: #1e7522;
			--color-page-warning: #a92479;
			--color-page-neutral: rgba(248, 109, 67, 0.72);
			--color-effect-primary: #f27cf2;
			--color-effect-secondary: #613031;
			--color-effect-tertiary: #b5d8d2;
			--color-effect-inverse: #1b321f;
			--color-effect-negative: #ad377f;
			--color-effect-positive: rgba(229, 71, 216, 0.18);
			--color-effect-warning: #26e232;
			--color-effect-neutral: rgba(7, 47, 121, 0.17);
			--color-overlay-primary: #6dcd1e;
			--color-overlay-secondary: rgba(1, 199, 135, 0.93);
			--color-overlay-tertiary: #92d8f9;
			--color-overlay-inverse: rgba(151, 111, 29, 0.58);
			--color-overlay-negative: #a01d19;
			--color-overlay-positive: #501d29;
			--color-overlay-warning: #232278;
			--color-overlay-neutral: #7e1429;
			--color-surface-primary: #a18568;
			--color-surface-secondary: #a07a87;
			--color-surface-tertiary: #99eaa1;
			--color-surface-inverse: #2504ea;
			--color-surface-negative: #33256d;
			--color-surface-positive: #43b223;
			--color-surface-warning: #bd9150;
			--color-surface-neutral: #9a0499;
			--color-accent-primary: #354487;
			--color-accent-secondary: rgba(54, 79, 139, 0.28);
			--color-accent-tertiary: rgba(175, 104, 135, 0.51);
			--color-accent-inverse: rgba(26, 47, 216, 0.83);
			--color-accent-negative: rgba(170, 66, 134, 0.16);
			--color-accent-positive: #da0439;
			--color-accent-warning: rgba(76, 18, 189, 0.58);
			--color-accent-neutral: rgba(65, 21, 157, 0.36);
			--color-highlight-primary: #14b76b;
			--color-highlight-secondary: #34b5d0;
			--color-highlight-tertiary: #4f7953;
			--color-highlight-inverse: #5ad30c;
			--color-highlight-negative: rgba(170, 210, 127, 0.27);
			--color-highlight-positive: #37c313;
			--color-highlight-warning: #7166eb;
			--color-highlight-neutral: #74720c;
			--shadow-0: 0 0px 0px rgba(98, 204, 168, 0.28);
			--shadow-1: 0 1px 2px rgba(35, 142, 179, 0.64);
			--shadow-2: 0 2px 4px rgba(204, 169, 14, 0.12);
			--shadow-3: 0 3px 6px rgba(133, 91, 135, 0.04);
			--shadow-4: 0 4px 8px rgba(222, 176, 160, 0.44);
			--shadow-5: 0 5px 10px rgba(59, 197, 97, 0.25);
			--space-0: 0px;
			--space-1: 4px;
			--space-2: 8px;
			--space-3: 12px;
			--space-4: 16px;
			--space-5: 20px;
			--space-6: 24px;
			--space-7: 28px;
		}

		/* light theme */
		@variant light {
			--color-content-primary: #0064ba;
			--color-content-secondary: #a9a03f;
			--color-content-tertiary: #999ed1;
			--color-content-inverse: #974162;
			--color-content-negative: #c2599a;
			--color-content-positive: #009b92;
			--color-content-warning: rgba(164, 238, 226, 0.44);
			--color-content-neutral: rgba(242, 86, 43, 0.28);
			--color-background-primary: #ab2f78;
			--color-background-secondary: #73654b;
			--color-background-tertiary: rgba(125, 243, 37, 0.46);
			--color-background-inverse: #63c4fd;
			--color-background-negative: #4b0236;
			--color-background-positive: #705aed;
			--color-background-warning: rgba(127, 62, 233, 0.13);
			--color-background-neutral: #a2e2da;
			--color-border-primary: #e451f3;
			--color-border-secondary: #7e8df8;
			--color-border-tertiary: #8ce127;
			--color-border-inverse: #788bab;
			--color-border-negative: #29464d;
			--color-border-positive: rgba(78, 109, 32, 0.41);
			--color-border-warning: #eed41f;
			--color-border-neutral: rgba(215, 199, 10, 0.86);
			--color-action-primary: #c2f403;
			--color-action-secondary: #98c7d6;
			--color-action-tertiary: #70f970;
			--color-action-inverse: rgba(248, 14, 199, 0.34);
			--color-action-negative: #cf54ef;
			--color-action-positive: #0dc90d;
			--color-action-warning: rgba(219, 69, 236, 0.18);
			--color-action-neutral: rgba(167, 108, 232, 0.33);
			--color-page-primary: #c28ed7;
			--color-page-secondary: rgba(41, 240, 9, 0.75);
			--color-page-tertiary: rgba(179, 114, 35, 0.78);
			--color-page-inverse: #0f7e66;
			--color-page-negative: #4e7a40;
			--color-page-positive: #3a6fee;
			--color-page-warning: #bc553a;
			--color-page-neutral: #539f37;
			--color-effect-primary: #9fc0cb;
			--color-effect-secondary: #65267c;
			--color-effect-tertiary: rgba(154, 61, 21, 0.35);
			--color-effect-inverse: #bd23ae;
			--color-effect-negative: rgba(215, 250, 54, 0.43);
			--color-effect-positive: #eb4ede;
			--color-effect-warning: rgba(138, 247, 238, 0.44);
			--color-effect-neutral: #89a57d;
			--color-overlay-primary: #2c8ee6;
			--color-overlay-secondary: rgba(237, 194, 172, 0.03);
			--color-overlay-tertiary: #5df96c;
			--color-overlay-inverse: #84ae8f;
			--color-overlay-negative: #8d0561;
			--color-overlay-positive: rgba(208, 250, 123, 0.69);
			--color-overlay-warning: #fbe508;
			--color-overlay-neutral: rgba(113, 207, 124, 0.31);
			--color-surface-primary: #f2b0d9;
			--color-surface-secondary: #a9b4e8;
			--color-surface-tertiary: rgba(128, 118, 61, 0.72);
			--color-surface-inverse: #5e626e;
			--color-surface-negative: #8d9033;
			--color-surface-positive: #9774b8;
			--color-surface-warning: rgba(7, 64, 140, 0.05);
			--color-surface-neutral: rgba(149, 64, 251, 0.1);
			--color-accent-primary: rgba(145, 240, 245, 0.44);
			--color-accent-secondary: rgba(26, 129, 244, 0.11);
			--color-accent-tertiary: rgba(251, 37, 27, 0.15);
			--color-accent-inverse: #9b2b7f;
			--color-accent-negative: rgba(213, 115, 194, 0.45);
			--color-accent-positive: #db9c1e;
			--color-accent-warning: #326a6c;
			--color-accent-neutral: rgba(41, 80, 122, 0.17);
			--color-highlight-primary: rgba(1, 209, 230, 0.69);
			--color-highlight-secondary: #107693;
			--color-highlight-tertiary: #e82477;
			--color-highlight-inverse: #65d93a;
			--color-highlight-negative: #4c8848;
			--color-highlight-positive: rgba(84, 157, 147, 0.44);
			--color-highlight-warning: #9bce8b;
			--color-highlight-neutral: #fce029;
			--shadow-0: 0 0px 0px rgba(20, 221, 165, 0.6);
			--shadow-1: 0 1px 2px rgba(13, 46, 117, 0.96);
			--shadow-2: 0 2px 4px rgba(10, 137, 20, 0.76);
			--shadow-3: 0 3px 6px rgba(89, 240, 226, 0.92);
			--shadow-4: 0 4px 8px rgba(92, 223, 251, 0.97);
			--shadow-5: 0 5px 10px rgba(240, 178, 209, 0.33);
			--space-0: 0px;
			--space-1: 4px;
			--space-2: 8px;
			--space-3: 12px;
			--space-4: 16px;
			--space-5: 20px;
			--space-6: 24px;
			--space-7: 28px;
		}

		/* purple-dark theme */
		@variant purple-dark {
			--color-content-primary: #52a8d2;
			--color-content-secondary: #93cd12;
			--color-content-tertiary: #a181a5;
			--color-content-inverse: rgba(206, 0, 236, 0.41);
			--color-content-negative: rgba(185, 255, 226, 0.76);
			--color-content-positive: rgba(67, 147, 224, 0.88);
			--color-content-warning: #0e7a51;
			--color-content-neutral: #07d02f;
			--color-background-primary: rgba(58, 236, 60, 0.65);
			--color-background-secondary: rgba(149, 139, 212, 0.83);
			--color-background-tertiary: #7ce94a;
			--color-background-inverse: #45238d;
			--color-background-negative: #d4ae88;
			--color-background-positive: #9098fa;
			--color-background-warning: #e4f7b0;
			--color-background-neutral: #c1e9a4;
			--color-border-primary: #7ac477;
			--color-border-secondary: #d216a2;
			--color-border-tertiary: #c3c54d;
			--color-border-inverse: #1240a9;
			--color-border-negative: #e133e9;
			--color-border-positive: rgba(73, 209, 79, 0.07);
			--color-border-warning: #87adcb;
			--color-border-neutral: #a8c2a2;
			--color-action-primary: #f91223;
			--color-action-secondary: rgba(147, 116, 46, 0.43);
			--color-action-tertiary: rgba(51, 227, 85, 0.69);
			--color-action-inverse: #17a61c;
			--color-action-negative: rgba(191, 220, 74, 0.24);
			--color-action-positive: #5c5759;
			--color-action-warning: rgba(195, 123, 254, 0.91);
			--color-action-neutral: rgba(236, 130, 235, 0.26);
			--color-page-primary: rgba(238, 147, 80, 0.07);
			--color-page-secondary: #99d980;
			--color-page-tertiary: #9a65c4;
			--color-page-inverse: #3679c3;
			--color-page-negative: #97970b;
			--color-page-positive: #ca8c04;
			--color-page-warning: #19fe92;
			--color-page-neutral: #75b470;
			--color-effect-primary: #804631;
			--color-effect-secondary: #149ee1;
			--color-effect-tertiary: rgba(186, 67, 46, 0.91);
			--color-effect-inverse: #d45966;
			--color-effect-negative: rgba(187, 139, 84, 0.26);
			--color-effect-positive: #f697ad;
			--color-effect-warning: #ef2648;
			--color-effect-neutral: #73cbbb;
			--color-overlay-primary: rgba(202, 7, 135, 0.54);
			--color-overlay-secondary: #86c3be;
			--color-overlay-tertiary: rgba(119, 241, 12, 0.62);
			--color-overlay-inverse: #a77120;
			--color-overlay-negative: #ed9ad1;
			--color-overlay-positive: rgba(23, 19, 155, 1.0);
			--color-overlay-warning: rgba(120, 69, 198, 0.45);
			--color-overlay-neutral: #d64fd4;
			--color-surface-primary: #fad08f;
			--color-surface-secondary: rgba(189, 111, 227, 0.44);
			--color-surface-tertiary: rgba(185, 50, 188, 0.54);
			--color-surface-inverse: #b71fcb;
			--color-surface-negative: rgba(62, 232, 46, 0.66);
			--color-surface-positive: #0a19aa;
			--color-surface-warning: rgba(64, 105, 35, 0.83);
			--color-surface-neutral: #6e77a8;
			--color-accent-primary: #018d4a;
			--color-accent-secondary: #805938;
			--color-accent-tertiary: #0d4307;
			--color-accent-inverse: #79a508;
			--color-accent-negative: rgba(26, 64, 215, 0.53);
			--color-accent-positive: #f3e5b9;
			--color-accent-warning: #37e771;
			--color-accent-neutral: #169aea;
			--color-highlight-primary: #0f1ff5;
			--color-highlight-secondary: #da37fb;
			--color-highlight-tertiary: #e32529;
			--color-highlight-inverse: #4b2140;
			--color-highlight-negative: rgba(166, 195, 150, 0.45);
			--color-highlight-positive: #323a6e;
			--color-highlight-warning: #74d3ad;
			--color-highlight-neutral: #ccd430;
			--shadow-0: 0 0px 0px rgba(160, 218, 160, 0.67);
			--shadow-1: 0 1px 2px rgba(191, 78, 242, 0.07);
			--shadow-2: 0 2px 4px rgba(43, 47, 221, 0.1);
			--shadow-3: 0 3px 6px rgba(190, 66, 30, 0.59);
			--shadow-4: 0 4px 8px rgba(168, 62, 210, 0.35);
			--shadow-5: 0 5px 10px rgba(216, 26, 147, 0.6);
			--space-0: 0px;
			--space-1: 4px;
			--space-2: 8px;
			--space-3: 12px;
			--space-4: 16px;
			--space-5: 20px;
			--space-6: 24px;
			--space-7: 28px;
		}

		/* purple-light theme */
		@variant purple-light {
			--color-content-primary: #6c4ff6;
			--color-content-secondary: rgba(55, 179, 188, 0.11);
			--color-content-tertiary: rgba(115, 219, 13, 0.61);
			--color-content-inverse: #880e5c;
			--color-content-negative: rgba(158, 173, 179, 0.01);
			--color-content-positive: #cd2348;
			--color-content-warning: #0f2e6e;
			--color-content-neutral: #e8ae50;
			--color-background-primary: #a62b1a;
			--color-background-secondary: rgba(25, 41, 139, 0.44);
			--color-background-tertiary: #e2d48b;
			--color-background-inverse: rgba(58, 176, 220, 0.11);
			--color-background-negative: #f99d17;
			--color-background-positive: rgba(28, 3, 104, 0.3);
			--color-background-warning: rgba(70, 130, 148, 0.33);
			--color-background-neutral: rgba(220, 89, 66, 0.38);
			--color-border-primary: #b524cb;
			--color-border-secondary: #15df09;
			--color-border-tertiary: #27a0db;
			--color-border-inverse: #d5943a;
			--color-border-negative: #a657eb;
			--color-border-positive: #b92ddf;
			--color-border-warning: #7cdfcd;
			--color-border-neutral: #ca9ead;
			--color-action-primary: rgba(86, 39, 58, 0.53);
			--color-action-secondary: rgba(178, 179, 75, 0.24);
			--color-action-tertiary: rgba(101, 88, 78, 0.76);
			--color-action-inverse: #5afced;
			--color-action-negative: #e5a5a1;
			--color-action-positive: rgba(34, 240, 226, 0.63);
			--color-action-warning: #1cb425;
			--color-action-neutral: #e7131d;
			--color-page-primary: #92272e;
			--color-page-secondary: #c4ec15;
			--color-page-tertiary: #60a4f3;
			--color-page-inverse: #1fe634;
			--color-page-negative: #af2b58;
			--color-page-positive: rgba(224, 224, 81, 0.36);
			--color-page-warning: #c6d1ad;
			--color-page-neutral: #1aab21;
			--color-effect-primary: #c59181;
			--color-effect-secondary: #4caa29;
			--color-effect-tertiary: #48b39e;
			--color-effect-inverse: #c8422b;
			--color-effect-negative: #c0a841;
			--color-effect-positive: #2fd8b9;
			--color-effect-warning: rgba(158, 92, 109, 0.34);
			--color-effect-neutral: #627346;
			--color-overlay-primary: rgba(151, 51, 19, 0.66);
			--color-overlay-secondary: #43c04e;
			--color-overlay-tertiary: rgba(84, 224, 22, 0.41);
			--color-overlay-inverse: #79e391;
			--color-overlay-negative: #e5777a;
			--color-overlay-positive: #f063bc;
			--color-overlay-warning: #e1ec90;
			--color-overlay-neutral: #d65266;
			--color-surface-primary: #46801a;
			--color-surface-secondary: #be343f;
			--color-surface-tertiary: rgba(82, 139, 230, 0.91);
			--color-surface-inverse: rgba(223, 46, 113, 0.82);
			--color-surface-negative: #0dd41b;
			--color-surface-positive: #bf78c5;
			--color-surface-warning: #bf720e;
			--color-surface-neutral: #32ab4a;
			--color-accent-primary: rgba(146, 241, 71, 0.76);
			--color-accent-secondary: #022809;
			--color-accent-tertiary: rgba(76, 216, 56, 0.78);
			--color-accent-inverse: rgba(62, 24, 122, 0.42);
			--color-accent-negative: #ea2038;
			--color-accent-positive: #ff087b;
			--color-accent-warning: #95db00;
			--color-accent-neutral: #7bd55f;
			--color-highlight-primary: #2bb822;
			--color-highlight-secondary: #0ac7f0;
			--color-highlight-tertiary: rgba(198, 191, 129, 0.75);
			--color-highlight-inverse: #22b07b;
			--color-highlight-negative: #35aa44;
			--color-highlight-positive: rgba(173, 89, 237, 0.98);
			--color-highlight-warning: #5d4520;
			--color-highlight-neutral: #ea1296;
			--shadow-0: 0 0px 0px rgba(103, 22, 102, 0.89);
			--shadow-1: 0 1px 2px rgba(161, 158, 203, 0.99);
			--shadow-2: 0 2px 4px rgba(242, 129, 18, 0.75);
			--shadow-3: 0 3px 6px rgba(97, 146, 182, 0.86);
			--shadow-4: 0 4px 8px rgba(24, 169, 139, 0.12);
			--shadow-5: 0 5px 10px rgba(188, 223, 204, 0.74);
			--space-0: 0px;
			--space-1: 4px;
			--space-2: 8px;
			--space-3: 12px;
			--space-4: 16px;
			--space-5: 20px;
			--space-6: 24px;
			--space-7: 28px;
		}

		/* blue-dark theme */
		@variant blue-dark {
			--color-content-primary: #c5ad5f;
			--color-content-secondary: #febc88;
			--color-content-tertiary: #d928dc;
			--color-content-inverse: #5c96a4;
			--color-content-negative: rgba(167, 151, 156, 0.45);
			--color-content-positive: #55e3b3;
			--color-content-warning: #b4de8c;
			--color-content-neutral: #1d26cf;
			--color-background-primary: #510f49;
			--color-background-secondary: #e01140;
			--color-background-tertiary: rgba(187, 185, 196, 0.95);
			--color-background-inverse: rgba(78, 230, 189, 0.37);
			--color-background-negative: #46bbcb;
			--color-background-positive: #8e7f3a;
			--color-background-warning: rgba(95, 255, 198, 0.91);
			--color-background-neutral: rgba(133, 228, 109, 1.0);
			--color-border-primary: rgba(251, 102, 62, 0.14);
			--color-border-secondary: rgba(88, 227, 44, 0.81);
			--color-border-tertiary: #a3b121;
			--color-border-inverse: #949950;
			--color-border-negative: #59b972;
			--color-border-positive: rgba(102, 71, 121, 0.79);
			--color-border-warning: rgba(188, 239, 66, 0.61);
			--color-border-neutral: rgba(158, 203, 245, 0.53);
			--color-action-primary: #2540a2;
			--color-action-secondary: #e6eeb0;
			--color-action-tertiary: rgba(93, 66, 221, 0.5);
			--color-action-inverse: #3f4e9b;
			--color-action-negative: rgba(165, 115, 177, 0.95);
			--color-action-positive: #912880;
			--color-action-warning: rgba(140, 64, 155, 0.61);
			--color-action-neutral: rgba(86, 78, 87, 0.66);
			--color-page-primary: #ac150e;
			--color-page-secondary: rgba(135, 107, 213, 0.62);
			--color-page-tertiary: rgba(148, 154, 247, 0.24);
			--color-page-inverse: #cf98e8;
			--color-page-negative: rgba(30, 80, 225, 0.42);
			--color-page-positive: #ae49a0;
			--color-page-warning: #a3b0cc;
			--color-page-neutral: rgba(189, 54, 163, 0.24);
			--color-effect-primary: rgba(230, 126, 72, 0.1);
			--color-effect-secondary: rgba(196, 214, 127, 0.96);
			--color-effect-tertiary: #a7a061;
			--color-effect-inverse: #ffefff;
			--color-effect-negative: #fe0b2e;
			--color-effect-positive: #ea7b6e;
			--color-effect-warning: #181990;
			--color-effect-neutral: #f09204;
			--color-overlay-primary: #dc4487;
			--color-overlay-secondary: #cebb17;
			--color-overlay-tertiary: #63b993;
			--color-overlay-inverse: rgba(230, 143, 60, 0.13);
			--color-overlay-negative: rgba(191, 173, 187, 0.75);
			--color-overlay-positive: rgba(205, 20, 23, 0.04);
			--color-overlay-warning: #f2e94c;
			--color-overlay-neutral: #47a7a3;
			--color-surface-primary: rgba(153, 172, 250, 0.71);
			--color-surface-secondary: rgba(8, 188, 169, 0.67);
			--color-surface-tertiary: #9d0df2;
			--color-surface-inverse: rgba(116, 26, 245, 0.17);
			--color-surface-negative: #c24b7c;
			--color-surface-positive: rgba(56, 97, 9, 0.44);
			--color-surface-warning: #d368d2;
			--color-surface-neutral: #f11f46;
			--color-accent-primary: #a6f4c0;
			--color-accent-secondary: #58ebaf;
			--color-accent-tertiary: #87f762;
			--color-accent-inverse: #8e9873;
			--color-accent-negative: #98936a;
			--color-accent-positive: #faa2f5;
			--color-accent-warning: #8c933e;
			--color-accent-neutral: #c2cab0;
			--color-highlight-primary: #4a9415;
			--color-highlight-secondary: rgba(40, 177, 226, 0.66);
			--color-highlight-tertiary: #6d678a;
			--color-highlight-inverse: #8b4637;
			--color-highlight-negative: #7a7c19;
			--color-highlight-positive: #73771a;
			--color-highlight-warning: rgba(169, 241, 51, 0.68);
			--color-highlight-neutral: rgba(80, 208, 243, 0.48);
			--shadow-0: 0 0px 0px rgba(102, 147, 164, 0.29);
			--shadow-1: 0 1px 2px rgba(30, 45, 118, 0.54);
			--shadow-2: 0 2px 4px rgba(19, 89, 213, 0.88);
			--shadow-3: 0 3px 6px rgba(90, 18, 203, 0.79);
			--shadow-4: 0 4px 8px rgba(95, 148, 19, 0.01);
			--shadow-5: 0 5px 10px rgba(54, 171, 145, 0.45);
			--space-0: 0px;
			--space-1: 4px;
			--space-2: 8px;
			--space-3: 12px;
			--space-4: 16px;
			--space-5: 20px;
			--space-6: 24px;
			--space-7: 28px;
		}

		/* blue-light theme */
		@variant blue-light {
			--color-content-primary: #fc44ef;
			--color-content-secondary: rgba(57, 169, 83, 0.73);
			--color-content-tertiary: #5f07ac;
			--color-content-inverse: #6259cf;
			--color-content-negative: #a72ccd;
			--color-content-positive: #5e47f4;
			--color-content-warning: #7f0385;
			--color-content-neutral: #e488a8;
			--color-background-primary: #0585b8;
			--color-background-secondary: #1f3cee;
			--color-background-tertiary: #cf9f3c;
			--color-background-inverse: #97bc71;
			--color-background-negative: rgba(68, 244, 78, 0.45);
			--color-background-positive: #bfd4f1;
			--color-background-warning: #6f7e29;
			--color-background-neutral: #b92739;
			--color-border-primary: rgba(103, 76, 84, 0.33);
			--color-border-secondary: #3b69fa;
			--color-border-tertiary: rgba(228, 28, 232, 0.13);
			--color-border-inverse: #1dec9d;
			--color-border-negative: #ca8201;
			--color-border-positive: #2517d8;
			--color-border-warning: #201e23;
			--color-border-neutral: #f11092;
			--color-action-primary: #45d7bf;
			--color-action-secondary: #c3e5c1;
			--color-action-tertiary: #44b23c;
			--color-action-inverse: rgba(201, 65, 114, 0.83);
			--color-action-negative: #98edd9;
			--color-action-positive: #757eeb;
			--color-action-warning: #8d6039;
			--color-action-neutral: rgba(214, 8, 123, 0.21);
			--color-page-primary: rgba(17, 228, 24, 0.24);
			--color-page-secondary: rgba(224, 119, 111, 0.75);
			--color-page-tertiary: #479477;
			--color-page-inverse: #a3a479;
			--color-page-negative: #4971d3;
			--color-page-positive: #1f59da;
			--color-page-warning: #18b0c3;
			--color-page-neutral: #a3d5d1;
			--color-effect-primary: rgba(192, 94, 242, 0.24);
			--color-effect-secondary: rgba(73, 237, 29, 0.56);
			--color-effect-tertiary: #44c67c;
			--color-effect-inverse: rgba(169, 40, 230, 0.85);
			--color-effect-negative: rgba(97, 26, 137, 0.38);
			--color-effect-positive: #142560;
			--color-effect-warning: #6ff56a;
			--color-effect-neutral: #aa9b07;
			--color-overlay-primary: rgba(97, 60, 245, 0.91);
			--color-overlay-secondary: #68cb7a;
			--color-overlay-tertiary: #90c2ee;
			--color-overlay-inverse: #b79d85;
			--color-overlay-negative: #feee32;
			--color-overlay-positive: #f0a368;
			--color-overlay-warning: #d31771;
			--color-overlay-neutral: #0885d5;
			--color-surface-primary: rgba(100, 168, 117, 0.38);
			--color-surface-secondary: #ffac83;
			--color-surface-tertiary: #fafbeb;
			--color-surface-inverse: rgba(180, 86, 71, 0.72);
			--color-surface-negative: #1e1126;
			--color-surface-positive: #1803d3;
			--color-surface-warning: rgba(118, 34, 77, 0.01);
			--color-surface-neutral: #bf1ef7;
			--color-accent-primary: #0803d2;
			--color-accent-secondary: rgba(140, 146, 8, 0.5);
			--color-accent-tertiary: #dc5b36;
			--color-accent-inverse: #4c7b62;
			--color-accent-negative: #81b588;
			--color-accent-positive: #28bfcf;
			--color-accent-warning: #7c7399;
			--color-accent-neutral: #29102f;
			--color-highlight-primary: #c1f31c;
			--color-highlight-secondary: #572aff;
			--color-highlight-tertiary: #a93015;
			--color-highlight-inverse: rgba(243, 138, 23, 0.92);
			--color-highlight-negative: #8f105b;
			--color-highlight-positive: #a1086a;
			--color-highlight-warning: #cb2799;
			--color-highlight-neutral: rgba(123, 199, 169, 0.38);
			--shadow-0: 0 0px 0px rgba(71, 40, 177, 0.05);
			--shadow-1: 0 1px 2px rgba(223, 118, 38, 0.34);
			--shadow-2: 0 2px 4px rgba(203, 167, 15, 0.63);
			--shadow-3: 0 3px 6px rgba(230, 251, 116, 0.36);
			--shadow-4: 0 4px 8px rgba(192, 221, 95, 0.68);
			--shadow-5: 0 5px 10px rgba(194, 43, 151, 0.8);
			--space-0: 0px;
			--space-1: 4px;
			--space-2: 8px;
			--space-3: 12px;
			--space-4: 16px;
			--space-5: 20px;
			--space-6: 24px;
			--space-7: 28px;
		}

		/* orange-dark theme */
		@variant orange-dark {
			--color-content-primary: #2a894e;
			--color-content-secondary: #4ec7a2;
			--color-content-tertiary: #2e029d;
			--color-content-inverse: #8a3443;
			--color-content-negative: rgba(220, 229, 208, 0.1);
			--color-content-positive: rgba(47, 166, 197, 0.01);
			--color-content-warning: #2b7c56;
			--color-content-neutral: #564789;
			--color-background-primary: #fc4a20;
			--color-background-secondary: rgba(141, 215, 153, 0.48);
			--color-background-tertiary: rgba(128, 126, 253, 0.59);
			--color-background-inverse: rgba(54, 69, 155, 0.01);
			--color-background-negative: #c2a8e1;
			--color-background-positive: #4599a4;
			--color-background-warning: #66f5a0;
			--color-background-neutral: rgba(203, 163, 149, 0.73);
			--color-border-primary: #7ca6c0;
			--color-border-secondary: rgba(201, 186, 58, 0.93);
			--color-border-tertiary: rgba(92, 13, 236, 0.94);
			--color-border-inverse: rgba(149, 35, 209, 0.67);
			--color-border-negative: rgba(155, 123, 129, 0.66);
			--color-border-positive: #c125e5;
			--color-border-warning: #f5cdd6;
			--color-border-neutral: #b82b37;
			--color-action-primary: #b55516;
			--color-action-secondary: #cca9dc;
			--color-action-tertiary: rgba(50, 132, 113, 0.51);
			--color-action-inverse: #71e4bf;
			--color-action-negative: #4db00c;
			--color-action-positive: #97d42b;
			--color-action-warning: rgba(72, 178, 159, 0.34);
			--color-action-neutral: #f7b2f3;
			--color-page-primary: rgba(231, 163, 34, 0.3);
			--color-page-secondary: #3a0baf;
			--color-page-tertiary: #547c59;
			--color-page-inverse: #a9daec;
			--color-page-negative: rgba(207, 94, 95, 0.64);
			--color-page-positive: #0e65e6;
			--color-page-warning: #c7026d;
			--color-page-neutral: rgba(32, 52, 95, 0.37);
			--color-effect-primary: rgba(58, 134, 250, 0.53);
			--color-effect-secondary: #c6c83a;
			--color-effect-tertiary: #ea5898;
			--color-effect-inverse: #2b44a0;
			--color-effect-negative: rgba(156, 59, 93, 0.37);
			--color-effect-positive: rgba(198, 214, 70, 0.57);
			--color-effect-warning: #f95855;
			--color-effect-neutral: #475fa1;
			--color-overlay-primary: #1bb704;
			--color-overlay-secondary: #63c4fd;
			--color-overlay-tertiary: #fbd4e3;
			--color-overlay-inverse: #2a0f70;
			--color-overlay-negative: rgba(140, 115, 147, 0.17);
			--color-overlay-positive: #fd393a;
			--color-overlay-warning: rgba(187, 21, 225, 0.55);
			--color-overlay-neutral: #347e98;
			--color-surface-primary: #10e686;
			--color-surface-secondary: #2ce03c;
			--color-surface-tertiary: #796bb3;
			--color-surface-inverse: #db5447;
			--color-surface-negative: #691eb3;
			--color-surface-positive: #56a595;
			--color-surface-warning: rgba(136, 48, 69, 0.96);
			--color-surface-neutral: #1e8d40;
			--color-accent-primary: #437f4a;
			--color-accent-secondary: #7ec9fa;
			--color-accent-tertiary: rgba(137, 212, 192, 0.45);
			--color-accent-inverse: #2fce8e;
			--color-accent-negative: #bce8f9;
			--color-accent-positive: #012fea;
			--color-accent-warning: #b720cb;
			--color-accent-neutral: rgba(219, 108, 253, 0.27);
			--color-highlight-primary: #ac42f8;
			--color-highlight-secondary: #181732;
			--color-highlight-tertiary: #eb083f;
			--color-highlight-inverse: #50e1e9;
			--color-highlight-negative: rgba(219, 103, 67, 0.88);
			--color-highlight-positive: #8c2fb8;
			--color-highlight-warning: rgba(190, 84, 26, 0.4);
			--color-highlight-neutral: #77db2e;
			--shadow-0: 0 0px 0px rgba(48, 0, 109, 0.48);
			--shadow-1: 0 1px 2px rgba(67, 115, 227, 0.01);
			--shadow-2: 0 2px 4px rgba(175, 61, 216, 0.69);
			--shadow-3: 0 3px 6px rgba(244, 36, 117, 0.38);
			--shadow-4: 0 4px 8px rgba(52, 52, 160, 0.37);
			--shadow-5: 0 5px 10px rgba(153, 70, 195, 0.77);
			--space-0: 0px;
			--space-1: 4px;
			--space-2: 8px;
			--space-3: 12px;
			--space-4: 16px;
			--space-5: 20px;
			--space-6: 24px;
			--space-7: 28px;
		}

		/* orange-light theme */
		@variant orange-light {
			--color-content-primary: #444923;
			--color-content-secondary: #0454e1;
			--color-content-tertiary: #6d4dd2;
			--color-content-inverse: #e26f2c;
			--color-content-negative: #473fc4;
			--color-content-positive: #dba147;
			--color-content-warning: rgba(43, 127, 145, 0.78);
			--color-content-neutral: #9a6960;
			--color-background-primary: #971b7a;
			--color-background-secondary: #397bff;
			--color-background-tertiary: #2406b8;
			--color-background-inverse: #43c6d7;
			--color-background-negative: #58f125;
			--color-background-positive: rgba(34, 7, 134, 0.22);
			--color-background-warning: #cb92d4;
			--color-background-neutral: #cd2a4e;
			--color-border-primary: rgba(158, 40, 104, 0.97);
			--color-border-secondary: rgba(167, 200, 33, 0.31);
			--color-border-tertiary: #7a1d7d;
			--color-border-inverse: rgba(222, 59, 232, 0.61);
			--color-border-negative: rgba(89, 61, 6, 0.71);
			--color-border-positive: #53feb1;
			--color-border-warning: #8455be;
			--color-border-neutral: rgba(137, 60, 15, 0.34);
			--color-action-primary: #208627;
			--color-action-secondary: #b81cff;
			--color-action-tertiary: #55bc50;
			--color-action-inverse: rgba(52, 59, 116, 0.74);
			--color-action-negative: rgba(6, 125, 23, 0.47);
			--color-action-positive: #4c5b12;
			--color-action-warning: #d672a4;
			--color-action-neutral: rgba(163, 138, 39, 0.57);
			--color-page-primary: rgba(26, 91, 114, 0.8);
			--color-page-secondary: #cd23ee;
			--color-page-tertiary: #9fa72c;
			--color-page-inverse: #04bc66;
			--color-page-negative: rgba(155, 124, 237, 0.37);
			--color-page-positive: #647d4d;
			--color-page-warning: rgba(209, 12, 119, 0.54);
			--color-page-neutral: #04ab00;
			--color-effect-primary: #c09d35;
			--color-effect-secondary: rgba(121, 214, 251, 0.96);
			--color-effect-tertiary: #488f2f;
			--color-effect-inverse: rgba(118, 211, 190, 0.46);
			--color-effect-negative: #3044c9;
			--color-effect-positive: rgba(31, 222, 66, 0.24);
			--color-effect-warning: rgba(161, 201, 167, 0.32);
			--color-effect-neutral: rgba(38, 103, 69, 0.78);
			--color-overlay-primary: #4f3654;
			--color-overlay-secondary: #a0d03d;
			--color-overlay-tertiary: #6ae79d;
			--color-overlay-inverse: #3d2e50;
			--color-overlay-negative: #9b146e;
			--color-overlay-positive: #a74b2e;
			--color-overlay-warning: #b6ca19;
			--color-overlay-neutral: #85590f;
			--color-surface-primary: #e77f30;
			--color-surface-secondary: #473e06;
			--color-surface-tertiary: rgba(113, 66, 101, 0.82);
			--color-surface-inverse: #2b8426;
			--color-surface-negative: rgba(33, 101, 227, 0.81);
			--color-surface-positive: rgba(169, 62, 21, 0.94);
			--color-surface-warning: rgba(221, 202, 254, 0.03);
			--color-surface-neutral: #58b56d;
			--color-accent-primary: #8c8fe4;
			--color-accent-secondary: #117d97;
			--color-accent-tertiary: #f51f2c;
			--color-accent-inverse: rgba(70, 214, 102, 0.64);
			--color-accent-negative: #7f09c3;
			--color-accent-positive: #b7f5f8;
			--color-accent-warning: #a4c68a;
			--color-accent-neutral: rgba(163, 112, 15, 0.9);
			--color-highlight-primary: #1df1b7;
			--color-highlight-secondary: #775133;
			--color-highlight-tertiary: rgba(123, 136, 28, 0.76);
			--color-highlight-inverse: #c6b558;
			--color-highlight-negative: rgba(162, 183, 14, 0.7);
			--color-highlight-positive: #4860fc;
			--color-highlight-warning: #59fb13;
			--color-highlight-neutral: rgba(119, 112, 10, 0.53);
			--shadow-0: 0 0px 0px rgba(0, 169, 103, 0.81);
			--shadow-1: 0 1px 2px rgba(174, 90, 165, 0.06);
			--shadow-2: 0 2px 4px rgba(75, 72, 56, 0.85);
			--shadow-3: 0 3px 6px rgba(186, 37, 191, 0.7);
			--shadow-4: 0 4px 8px rgba(202, 51, 172, 0.3);
			--shadow-5: 0 5px 10px rgba(69, 80, 223, 0.79);
			--space-0: 0px;
			--space-1: 4px;
			--space-2: 8px;
			--space-3: 12px;
			--space-4: 16px;
			--space-5: 20px;
			--space-6: 24px;
			--space-7: 28px;
		}

		/* yellow-dark theme */
		@variant yellow-dark {
			--color-content-primary: #a259b6;
			--color-content-secondary: rgba(89, 193, 157, 0.73);
			--color-content-tertiary: rgba(90, 0, 200, 0.85);
			--color-content-inverse: #105da2;
			--color-content-negative: #7135fe;
			--color-content-positive: rgba(39, 121, 177, 0.98);
			--color-content-warning: rgba(45, 171, 228, 0.01);
			--color-content-neutral: rgba(34, 179, 131, 0.79);
			--color-background-primary: #18c5e0;
			--color-background-secondary: #55d3fc;
			--color-background-tertiary: #b3c033;
			--color-background-inverse: #7353e7;
			--color-background-negative: rgba(17, 150, 10, 0.32);
			--color-background-positive: #25af57;
			--color-background-warning: #52262f;
			--color-background-neutral: #f70fdc;
			--color-border-primary: #54de50;
			--color-border-secondary: rgba(169, 105, 97, 0.41);
			--color-border-tertiary: #879098;
			--color-border-inverse: rgba(25, 201, 251, 0.15);
			--color-border-negative: #da2c96;
			--color-border-positive: #f56631;
			--color-border-warning: rgba(87, 149, 41, 0.47);
			--color-border-neutral: rgba(203, 241, 250, 0.89);
			--color-action-primary: rgba(198, 94, 189, 0.89);
			--color-action-secondary: #e41686;
			--color-action-tertiary: #867389;
			--color-action-inverse: #4d312b;
			--color-action-negative: #d3741f;
			--color-action-positive: #d6f378;
			--color-action-warning: #28ca11;
			--color-action-neutral: #4b3de5;
			--color-page-primary: rgba(85, 108, 98, 0.13);
			--color-page-secondary: #de674b;
			--color-page-tertiary: #84a322;
			--color-page-inverse: rgba(203, 166, 141, 0.52);
			--color-page-negative: #06d639;
			--color-page-positive: #4b3336;
			--color-page-warning: #3392b0;
			--color-page-neutral: #87c4f8;
			--color-effect-primary: #f21358;
			--color-effect-secondary: rgba(73, 205, 19, 0.4);
			--color-effect-tertiary: #7919f3;
			--color-effect-inverse: #be0aac;
			--color-effect-negative: #9b9f8f;
			--color-effect-positive: #327444;
			--color-effect-warning: #e2a489;
			--color-effect-neutral: #2d60e2;
			--color-overlay-primary: rgba(208, 248, 191, 0.82);
			--color-overlay-secondary: #51219f;
			--color-overlay-tertiary: #ce450e;
			--color-overlay-inverse: rgba(102, 29, 127, 0.03);
			--color-overlay-negative: rgba(184, 101, 140, 0.37);
			--color-overlay-positive: #cb3f0f;
			--color-overlay-warning: rgba(250, 228, 90, 0.96);
			--color-overlay-neutral: #b3b053;
			--color-surface-primary: #842e91;
			--color-surface-secondary: rgba(25, 83, 109, 0.86);
			--color-surface-tertiary: #6989d1;
			--color-surface-inverse: #04f243;
			--color-surface-negative: #047281;
			--color-surface-positive: #9c8cd8;
			--color-surface-warning: #b2eb81;
			--color-surface-neutral: rgba(154, 203, 52, 0.01);
			--color-accent-primary: #bf9098;
			--color-accent-secondary: #f620ac;
			--color-accent-tertiary: #a68d85;
			--color-accent-inverse: #98604c;
			--color-accent-negative: #7b1dce;
			--color-accent-positive: #470dfe;
			--color-accent-warning: #84d6cf;
			--color-accent-neutral: #1261af;
			--color-highlight-primary: #71f3b7;
			--color-highlight-secondary: #575c96;
			--color-highlight-tertiary: rgba(65, 132, 93, 0.95);
			--color-highlight-inverse: #2d71b5;
			--color-highlight-negative: rgba(157, 215, 169, 0.37);
			--color-highlight-positive: #ed3cf0;
			--color-highlight-warning: rgba(36, 241, 99, 0.5);
			--color-highlight-neutral: #c398d3;
			--shadow-0: 0 0px 0px rgba(27, 77, 70, 0.99);
			--shadow-1: 0 1px 2px rgba(175, 209, 234, 0.14);
			--shadow-2: 0 2px 4px rgba(92, 41, 249, 0.33);
			--shadow-3: 0 3px 6px rgba(90, 160, 29, 0.0);
			--shadow-4: 0 4px 8px rgba(140, 107, 86, 0.58);
			--shadow-5: 0 5px 10px rgba(81, 250, 45, 0.13);
			--space-0: 0px;
			--space-1: 4px;
			--space-2: 8px;
			--space-3: 12px;
			--space-4: 16px;
			--space-5: 20px;
			--space-6: 24px;
			--space-7: 28px;
		}

		/* yellow-light theme */
		@variant yellow-light {
			--color-content-primary: #dbcedb;
			--color-content-secondary: #c40213;
			--color-content-tertiary: #bf07a4;
			--color-content-inverse: #610902;
			--color-content-negative: #7f73b0;
			--color-content-positive: #34c49c;
			--color-content-warning: rgba(23, 152, 148, 0.46);
			--color-content-neutral: #acde44;
			--color-background-primary: #fab760;
			--color-background-secondary: rgba(206, 9, 116, 0.22);
			--color-background-tertiary: #6c0b56;
			--color-background-inverse: rgba(19, 192, 130, 0.77);
			--color-background-negative: #18370a;
			--color-background-positive: rgba(59, 213, 227, 0.38);
			--color-background-warning: #f24e69;
			--color-background-neutral: #049ad7;
			--color-border-primary: #8a46d6;
			--color-border-secondary: #353c90;
			--color-border-tertiary: rgba(54, 254, 101, 0.61);
			--color-border-inverse: #67b7d1;
			--color-border-negative: rgba(20, 254, 106, 0.69);
			--color-border-positive: #780106;
			--color-border-warning: #38fc4c;
			--color-border-neutral: #263383;
			--color-action-primary: #e99787;
			--color-action-secondary: #335914;
			--color-action-tertiary: #b8a0da;
			--color-action-inverse: #301704;
			--color-action-negative: #57a8b7;
			--color-action-positive: #892fbe;
			--color-action-warning: #5d3acd;
			--color-action-neutral: #e98bc5;
			--color-page-primary: #f4d755;
			--color-page-secondary: rgba(30, 81, 53, 0.42);
			--color-page-tertiary: #e05cc2;
			--color-page-inverse: #0e42f7;
			--color-page-negative: #39d2e1;
			--color-page-positive: rgba(133, 160, 6, 0.7);
			--color-page-warning: #72ad30;
			--color-page-neutral: #7ff6b1;
			--color-effect-primary: #c54c1b;
			--color-effect-secondary: rgba(80, 240, 253, 0.87);
			--color-effect-tertiary: rgba(251, 164, 123, 0.33);
			--color-effect-inverse: rgba(114, 193, 206, 0.82);
			--color-effect-negative: rgba(227, 229, 45, 0.86);
			--color-effect-positive: #3cfe09;
			--color-effect-warning: rgba(211, 18, 0, 0.83);
			--color-effect-neutral: #9b69e9;
			--color-overlay-primary: #ba1b72;
			--color-overlay-secondary: #a9f2ba;
			--color-overlay-tertiary: #3a3171;
			--color-overlay-inverse: rgba(181, 149, 191, 0.7);
			--color-overlay-negative: rgba(84, 252, 71, 0.82);
			--color-overlay-positive: #d13682;
			--color-overlay-warning: #603dc9;
			--color-overlay-neutral: rgba(97, 173, 55, 0.76);
			--color-surface-primary: rgba(63, 230, 234, 0.66);
			--color-surface-secondary: #44ff02;
			--color-surface-tertiary: #18ddf7;
			--color-surface-inverse: #5a5841;
			--color-surface-negative: rgba(164, 196, 214, 0.98);
			--color-surface-positive: #7f8ccb;
			--color-surface-warning: #96e744;
			--color-surface-neutral: rgba(153, 160, 111, 0.2);
			--color-accent-primary: #94b043;
			--color-accent-secondary: #5ba53b;
			--color-accent-tertiary: #f5d592;
			--color-accent-inverse: #d80636;
			--color-accent-negative: rgba(74, 27, 28, 0.2);
			--color-accent-positive: #529280;
			--color-accent-warning: rgba(31, 151, 104, 0.75);
			--color-accent-neutral: rgba(231, 52, 114, 0.74);
			--color-highlight-primary: #799318;
			--color-highlight-secondary: #c6d5a0;
			--color-highlight-tertiary: #1b0680;
			--color-highlight-inverse: rgba(226, 115, 188, 0.76);
			--color-highlight-negative: #646396;
			--color-highlight-positive: #265f58;
			--color-highlight-warning: #3dc114;
			--color-highlight-neutral: #874252;
			--shadow-0: 0 0px 0px rgba(130, 2, 169, 0.47);
			--shadow-1: 0 1px 2px rgba(79, 20, 78, 0.93);
			--shadow-2: 0 2px 4px rgba(26, 154, 251, 0.79);
			--shadow-3: 0 3px 6px rgba(183, 37, 162, 0.53);
			--shadow-4: 0 4px 8px rgba(94, 34, 81, 0.42);
			--shadow-5: 0 5px 10px rgba(206, 47, 178, 0.22);
			--space-0: 0px;
			--space-1: 4px;
			--space-2: 8px;
			--space-3: 12px;
			--space-4: 16px;
			--space-5: 20px;
			--space-6: 24px;
			--space-7: 28px;
		}

	}
}

@layer components {
	.btn-0 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-0) var(--space-2);
		border-radius: 0px;
	}
	.btn-1 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-1) var(--space-3);
		border-radius: 2px;
	}
	.btn-2 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-2) var(--space-4);
		border-radius: 4px;
	}
	.btn-3 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-3) var(--space-5);
		border-radius: 6px;
	}
	.btn-4 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-4) var(--space-6);
		border-radius: 8px;
	}
	.btn-5 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-5) var(--space-7);
		border-radius: 10px;
	}
	.btn-6 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-6) var(--space-0);
		border-radius: 12px;
	}
	.btn-7 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-7) var(--space-1);
		border-radius: 14px;
	}
	.btn-8 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-0) var(--space-2);
		border-radius: 16px;
	}
	.btn-9 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-1) var(--space-3);
		border-radius: 18px;
	}
	.btn-10 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-2) var(--space-4);
		border-radius: 20px;
	}
	.btn-11 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-3) var(--space-5);
		border-radius: 22px;
	}
	.btn-12 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-4) var(--space-6);
		border-radius: 24px;
	}
	.btn-13 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-5) var(--space-7);
		border-radius: 26px;
	}
	.btn-14 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-6) var(--space-0);
		border-radius: 28px;
	}
	.btn-15 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-7) var(--space-1);
		border-radius: 30px;
	}
	.btn-16 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-0) var(--space-2);
		border-radius: 32px;
	}
	.btn-17 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-1) var(--space-3);
		border-radius: 34px;
	}
	.btn-18 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-2) var(--space-4);
		border-radius: 36px;
	}
	.btn-19 {
		background: var(--color-action-primary);
		color: var(--color-content-primary);
		padding: var(--space-3) var(--space-5);
		border-radius: 38px;
	}
}
